body{
 
    background-color: antiquewhite;
}
.head{
    width: 100%;
    padding: 10px;
    margin: 10px;
    height: 50px;
    font-size: 20px;
    text-align: center;
}

.order{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5,300px); 
    gap: 5px;
}

.card, .card2{
    width: 280px;
    height: 350px;
    background-color: #fff;
    padding: 10px;
    margin: 10px 0px 10px 0px;
}
.card img, .card2 img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card p{
    font-size: 15px;
    font-weight: 300;
    color: #000;
    margin-top: 20px;
}
.card2 p{
    font-size: 14px;
    font-weight: 300;
    color: #000;
    margin-top: 10px;
}
.card h2{
    font-size: 20px;
    margin-top: 10px;
}
.card2 h2{
    font-size: 18px;
    margin-top: 10px;
}
.card a{
    text-decoration: none;
    color: blue;
    font-size: 18px;
    position: absolute;
    margin-top: 10px;
}
.card2 a{
    text-decoration: none;
    color: blue;
    font-size: 16px;
    position: absolute;
    margin-top: 10px;
}
.foot{
    width: 100%;
    padding: 10px;
    margin: 10px;
    height: 50px;
    font-size: 20px;
    text-align: center;
}
@media (max-width:900px) {
    .head{
        height: 100px;
        width: 100%;
    }
    .order{
        grid-template-columns: repeat(3,280px);
        gap: 10px;
    }
    .card, .card2{
        width: 250px;
        height: 350px;
    }

}

@media (max-width:500px) {
    body{
        height: 100%;
        width: 100%;
    }

    .order{
        grid-template-columns: repeat(2,220px);
        gap: 5px;
    }
    .card, .card2{
        width: 200px;
        height: 400px;
    }
    .head{
        height: 50px;
        width: 100%;
        text-align: center;
        font-size: 18px;
        margin: 10px 0px 10px 0px;
    }
    .foot{
        height: 50px;
        width: 100%;
        text-align: center;
        font-size: 18px;
        margin: 10px 0px 10px 0px;
    }
}
